# Compilados / build
/target/generated-test-sources/
/target/generated-sources/
/target/test-classes/
/target/surefire-reports/
/target/maven-status/
/target/classes/

# IDE
/.idea/
*.iml
.classpath
.project
.settings/

# SO
.DS_Store
Thumbs.db

# Allure
.allure

# Logs
*.log
