# Compilados / build
/target/
!target/allure-results
!target/site
.allure

# IDE
/.idea/
*.iml
.classpath
.project
.settings/

# SO
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/

# Logs
*.log
