name: Execução agendada/manual

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * MON"
    - cron: "0 8 * * TUE"
    - cron: "0 8 * * WED"
    - cron: "0 8 * * THU"
    - cron: "0 8 * * FRI"

permissions:
  contents: read
  pages: write
  id-token: write
  actions: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run tests
        run: mvn clean test

      - name: Generate Allure Report
        if: always()
        run: mvn allure:report

      - name: Upload Allure Report to Pages
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/site/allure-report

  deploy:
    if: always()
    needs: test
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4